H1{
    color:RGB(0, 100, 0);
}

h2{
    color:RGB(85, 107, 47);
   
}

*{
   background-color:RGB(240, 248, 255);  
   font: size 30px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
  border:  1px solid black;

} 

p{
    color:RGB(51, 51, 51);
    font-size: 20px;
}

a{
  font-size:20px;;
}
