H1{
    color:RGB(255,69,0);
}

h2{
    color:RGB(0,128,255);
   
}

*{

   font: size 30px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans',Arial,sans-serif;
     
}

hr {
  border:  1px solid black;

} 

p{
    color:RGB(0,0,0);
    font-size: 20px;
}

a
{
  font-size:20px;
}

body
{
  background-image: url('images/background.jpg');
      background-repeat:no-repeat;
      background-size: cover;
      background-position: center;

}


